@model GoogleSearchImageTest.Models.SearchResultViewModel
<div class="text-center alert-info">Previous results</div>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SearchResults.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchResults.FirstOrDefault().SearchDate)
        </th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model.SearchResults)
    {
        <tr>
            <td>
                <a href="#" ng-click="main.loadResult(@item.Id)">@item.Name</a>,
                @{
                    var imgStr = item.Items.Count == 1 ? "image" : "images";
                    <div>@item.Items.Count @imgStr saved</div>  
                 }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchDate)
            </td>
            <td class="text-center">
                <button type="button" data-buttontype="remove" onclick="location.href='@Url.Action("Delete", "Home", new {id = item.Id})'">
                    <span class="glyphicon glyphicon-remove"/>
                </button>
            </td>
        </tr>
    }

</table>
